.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 2px solid black;
    width: 300px;
    height: auto;
    display: flex;
    text-align: left;
    flex-direction: column;
    border-radius: 4px;
}

img {
    border-radius: 6px;
    top: 50%;
    left: 50%;
    margin: 5px 5px 5px 5px;
}